* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

a {
    text-decoration: none;
    color: #0074D9;
}

ul, ol {
    list-style: none;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}